<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjtest.taskcenter.dao.product.ProductDao">

    <select id="selectById" resultType="com.jjtest.taskcenter.po.ProductPO" parameterType="java.lang.Long">
        select id,product_name productName,price from t_product where id = #{id}
    </select>

    <update id="updateProduct" parameterType="com.jjtest.taskcenter.po.ProductPO">
        update t_product
        <set>
            <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
            <if test="price != null">
                price = #{price}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>